/* Footer */
footer {
  text-align: center;
  padding: var(--space-xl) var(--space-md);
  font-size: 1rem;
  color: var(--text-white);
  background: var(--accent);
}

.footer-contact {
  margin-top: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

/* Social link */
.footer-social {
  margin-top: var(--space-xs);
}


.social-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

/* Icon */
.social-icon {
  width: 20px;
  height: 20px;
  display: block;
  filter: grayscale(100%);
  opacity: 0.8;
}

footer.footer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);

  padding: var(--space-xl) var(--space-md);
  background: var(--accent);
  color: var(--text-white);
  text-align: center;
  font-size: 1rem;
}

footer.footer-grid > * {
  justify-self: unset;
}

.footer-grid a {
  color: var(--text-white);
  text-decoration: none;
}

.footer-grid a:hover {
  opacity: 0.6;
}



.footer-email {
  grid-column: 1;
  grid-row: 1;
}

.footer-social {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.footer-privacy {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

.footer-terms {
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
}

.footer-legal {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.footer-copy {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  font-size: 1.0rem;
  opacity: 0.8;
  }


@media (min-width: 768px) {
  footer.footer-grid {
   display: grid;
   grid-template-columns: 1fr auto auto auto auto 1fr;
   grid-template-rows: auto auto;

   column-gap: var(--space-xl);
   row-gap: var(--space-md);

   align-items: center;
 }

  .footer-email   { grid-column: 2; }
  .footer-social  { grid-column: 3; }
  .footer-privacy { grid-column: 4; }
  .footer-terms   { grid-column: 5; }

  .footer-copy {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;
    opacity: 0.8;
  }

  .footer-grid a:hover {
    opacity: 0.6;
  }
}