/* Hero */
.hero {

  /* Background image */
  background-image: url("/assets/images/hero-bg.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  /* Mobile-first spacing */
  padding: clamp(0rem, 8vw, 7rem) 0;

  /* Fallback color while image loads */
  background-color: var(--bg-soft);
  position: relative;
}

.hero-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
  position: relative;
  z-index: 2;
}

.sub-hero-layout {
    display: grid;
    gap: var(--space-lg);
    margin-bottom: 20px;
}
.hero-button-mobile,
 contact-button{
    display: flex;
    justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-md);
}

.hero-text h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 4rem;
}

.hero-text h1,
.hero-text p {
  margin: 0;
}   

.hero-image {
  max-width: 70%;
  margin: 0 auto;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 85%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 85%,
    rgba(0,0,0,0) 100%
  );
}

.hero-image img {
  width: 100%;
  display: block;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(243, 230, 225, 0.1),
    rgba(243, 245, 225, 0.01)
  );
  z-index: 1;
  pointer-events: none;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--bg-main)
  );

  pointer-events: none;
}